* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
.a {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-direction: column;
  text-align: center;
  margin: 0 20em;
}
.b {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.a button {
  margin: 0 3em 1em 3em;
}
#app {
  margin: 5rem auto;
  width: 100%;
  padding: 1rem;
}

label,
input {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 1rem 8rem;
  padding: 0;
}

li {
  margin: 1rem 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: center;
}
.linethrough {
  text-decoration: line-through;
}
